
<h1>Welcome to CSE Motors!</h1>

<section class="hero">
    <img src="/images/vehicles/delorean.jpg" alt="Delorean" class="hero-img" loading="lazy">
    <div class="hero-content">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <button>Own Today</button>
    </div>
</section>


<section class="main-sections">
    <div class="left-section">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades-grid">
            <figure>
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" loading="lazy">
                <figcaption>Flux Capacitor</figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals" loading="lazy">
                <figcaption>Flame Decals</figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Superman Doors" loading="lazy">
                <figcaption>Superman Doors</figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/hub-cap.jpg" alt="Fuzzy Dice" loading="lazy">
                <figcaption>Fuzzy Dice</figcaption>
            </figure>
        </div>
    </div>

    <div class="right-section">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>“So fast it's almost like traveling in time.” (4/5)</li>
            <li>“Coolest ride on the road.” (4/5)</li>
            <li>“I'm feeling McFly!” (5/5)</li>
            <li>“The most futuristic ride of our day.” (4.5/5)</li>
            <li>“80's livin and I love it!” (5/5)</li>
        </ul>
    </div>
</section>